.navbar,
.nav {
  a {
    cursor: pointer;

    &.logo {
      img {
        height: 40px;
      }
    }
  }

  .cart-total {
    vertical-align: text-bottom;
  }
}

.narrow-col {
  width: 1%;
  white-space: nowrap;
}

.cart-line-item {
  img {
    width: 100px;
  }
}
